*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.menu{
    background: whitesmoke;

}
.menu .title{
    font-size: 1.2rem;
    padding:3rem 2rem ;
    text-transform: capitalize;
    display: flex;
    justify-content: center;
    align-items: center;
}
.section-center{
    padding: 20px 100px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: auto;
}
.btn-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-left: 30px;
}
.filter-btn{
    margin-right:30px ;
    padding: 10px 12px;
}





.photo{
    width:170px ;
    border-radius: 5%;
}
.menu-item{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 0px; 
}
.item-info{
    padding: 0px 30px;
}
.head{
    padding-bottom: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding-right: 50px; */
}
.item-info p{
    padding-top: 60px;
}
.price{
    padding-right: 20px;
    opacity: 1;
    font-weight: lighter;
}